@using System.Data.SqlTypes
@using CyberPizza.LojaVirtual.Web.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CyberPizza</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CyberPizza", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cardapio<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pizzas", "Pizza", "Cardapio")</li>
                            <li>@Html.ActionLink("Bebidas", "Bebida", "Cardapio")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Especial", "Bebida", "Cardapio")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Localização", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @Html.Partial("_Carrinho")
<div class="container body-content">
    @if (ViewData["TextoMsg"] != null && ViewData["Url"] == null)
    {
        @Html.MessageStandard((int)ViewData["TipoMsg"], textoMenssagem: ViewData["TextoMsg"].ToString())
    }
    else
    {
        var o = ViewData["Url"];
        if (o != null)
        {
            var o1 = ViewData["TextoMsg"];
            if (o1 != null)
            {
                @Html.MessageStandard((int)ViewData["TipoMsg"], url: ViewData["Url"].ToString(), textoUrl: ViewData["UrlTexto"].ToString(), textoMenssagem: o1.ToString())
            }
        }
    }
    @RenderBody()
    @(IsSectionDefined("register") ? RenderSection("register") : RenderPage("~/Views/Shared/_PassoPassoPartial.cshtml"))
    <hr/>
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Developed by Esr Softwares</p>
    </footer>
</div>
</body>
</html>
