@model CyberPizza.LojaVirtual.Dominio.Entidades.Produto

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong>@Model.Nome</strong>
        </div>
        <div class="panel-body">
            <img class="img-circle img-responsive" alt="" src="@Model.Imagens" />
            <div class="text-center">
                <h3>
                    <span class="label label-danger">@Model.Preco.ToString("C")</span>
                </h3>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                @using (Html.BeginForm("Adicionar", "Carrinho"))
                {
                    @Html.HiddenFor(x => x.ProdutoId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-primary btn-sm" value="Adicionar" />
                }
                <button type="button" class="btn btn-default btn-sm link" data-container="body" data-toggle="popover" data-placement="bottom"
                        data-title=@Model.Nome data-content="@Model.Descricao">
                    Detalhe
                </button>
            </div>
        </div>
    </div>
</div>